.navbar {
    flex: 1;
    display: flex;
    align-items: center;
    background-color:#F5F0D5;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.262);
    margin:0;
    padding:0;
  
  }
  
  .navbar h2 {
    margin-bottom: 20px;
    margin-left:20px;
    margin-right: auto;;
    color: #A94438;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
  }
  
  .navbar-button {
    margin: 5px 0;
    color: black;
    display: block;
    text-decoration: none;
    
    margin-right:20px;
 
  }
  
  .navbar-button.active {
    text-decoration: underline;
  }
 